# Configurações da Aplicação
DEBUG_MODE=false
LOG_LEVEL=INFO

# Banco de Dados
DATABASE_URL=sqlite:///./data/iptv_player.db

# Network
PROXY_ENABLED=false
PROXY_URL=

# Interface
DEFAULT_QUALITY=auto
DEFAULT_THEME=dark
